<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csedevelopers.freaky.developers.womensafety">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPVPz1sgLZYAH7rVjyFojxtkwKaq5z52M" />

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CentralActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" />
        <activity android:name=".FinalActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".OTPVeification"
            android:theme="@style/Themez" />
        <activity
            android:name=".EmergnecyContacts"
            android:parentActivityName=".CentralActivity"
            android:theme="@style/Themez">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="csedevelopers.freaky.developers.womensafety.CentralActivity" />
        </activity>
        <activity
            android:name=".AutoCall"
            android:theme="@style/Themez">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="csedevelopers.freaky.developers.womensafety.CentralActivity" />
        </activity>
        <activity
            android:name=".VoiceSetting"
            android:theme="@style/Themez" />

        <service android:name="csedevelopers.freaky.developers.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="csedevelopers.freaky.developers.notification.MyFireBaseInstanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="csedevelopers.freaky.developers.services.CapPhoto"
            android:enabled="true" />


        <activity
            android:name=".HelpActivity"
            android:theme="@style/Themez">

        </activity>

        <activity
            android:name=".LocationSelect"
            android:theme="@style/Themez">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="csedevelopers.freaky.developers.womensafety.CentralActivity" />
        </activity>
    </application>

</manifest>